
<%-include("header")-%>
<body>
    <div class="box" id="heading">
        <h1><%=listTitle %></h1>
    </div>

    <div class="box">
        <ul>
            <%newListItems.forEach((item) => { %>
                <form method="post" action="/delete">
                <div class="item">
                <input type="checkbox" id="item<%=item%>" onChange="this.form.submit()" value="<%=item._id%>" name="checkbox">
                <p><%= item.name%></p>
                <input name="listName" value="<%=listTitle%>" type="hidden"></input>
            </div>
        </form>
            <% }) %>
        </ul>
    

    <form class="item" method="post" action="/">
        <input type="text" id="newItem" name="newItem" placeholder="New Note" autocomplete="off">
        <button type="submit" name="list" value = "<%= listTitle %>">+</button>
    </form>
</div>


    <%-include("footer")-%>
</body>

</html>
